# Shared
NODE_ENV=development

# PostgreSQL (shared by auth-service and reservation-service)
DATABASE_URL=postgres://user:password@localhost:5432/deskapi

# auth-service
AUTH_PORT=3001
JWT_SECRET=change_me
JWT_REFRESH_SECRET=change_me_too

# reservation-service
RESERVATION_PORT=3002
HOLIDAY_API_URL=https://nagerholidays.com/api/v4

# activity-service
ACTIVITY_PORT=3003
MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=deskapi
